@use './partials/header';
@use './partials/main';
@use './partials/footer';
@use './partials/jumbotronQuote';
@use './partials/bannerList';
@use './partials/homeWork';
@use './partials/recentWork';
@use './partials/coreValues';
@use '/node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

img {
    max-width: 100%;
}