.specialist_modern {
    margin-top: 7rem;

    .banner {
        margin-top: 4rem;
        padding: 0 2rem;
        position: relative;
    }

    .title_spec {
        padding-bottom: 1rem;
        border-bottom: 2px solid #FED03D;
        display: inline-block;
    }

    .description_spec {
        padding: 1.5rem;
    }

}

.title_spec {
    h2 {
        font-size: 3rem;
    }
}

.description_spec {
    p {
        font-size: 1.5rem;
    }
}

.cover_specialist {
    background-color: #F5F5F5;
    padding: 1.5rem;
    border-radius: 10%;
    height: 300px;
    position: absolute;
    width: 459px;
    top: 0;

    &:hover {
        display: none;
    }
}

.card_specialist {
    background-color: #FED03D;
    padding: 1.5rem;
    border-radius: 10%;
    height: 300px;
    width: 459px;

    .button_specialist {
        a {
            background-color: #FFE07B;
            text-decoration: none;
            color: black;
            padding: 0.75rem 3rem;
        }
    }
}


.icon_font_specialist {
    font-size: 30px;
    color: #BCBCBC;
    border: 1px solid #BCBCBC;
    padding: 1rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}