.margin_icon {
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer_right {
    color: #bcbcbc;
}

.footer_left {
    p {
        color: #6b6868;
    }

    .footer_silver {
        color: #bcbcbc;
        margin-left: 0.5rem;
    }
}

.footer_bottom {
    background-color: #111111;
    padding: 2rem;
}