.logo_twitter {
    width: 20px;
    color: #BCBCBC;
    position: absolute;
    top: 0;
    right: 0;
}

.logo_right {
    p {
        color: #BCBCBC;
    }
}

.logo_left {
    img {
        width: 20px;
    }
}

.footer_description {
    position: relative;

    a {
        text-decoration: none;
    }
}

.logo {
    width: 120px;
    aspect-ratio: 1 / 1;
    margin-right: 0.5rem;

    img {
        border-radius: 50%;
    }
}

.description_footer_up {
    color: #BCBCBC;

    ul {
        list-style: none;
        padding: 0;
        line-height: 3rem;
    }
}

.footer_up {
    background-color: #1E1E1E;
    padding: 4rem;
}

.title_footer_up {
    h6 {
        color: #FED03D;
        padding: 1rem 0;
        font-weight: bold;
    }
}

.btn_footer {
    a {
        text-decoration: none;
        color: black;
        background-color: #FED03D;
        padding: 0.75rem 3rem;

        &:hover {
            background-color: black;
            color: white;
        }
    }
}