#site_header {
    padding: 1rem 4rem;
}

img {
    width: 200px;
}

.navbar_right {
    align-self: center;

    .bg_quote {
        background-color: #FED03D;
        padding: 0.5rem 2rem;

        &:hover {
            color: white;
            background-color: black;
        }
    }

    a {
        display: inline-block;
        color: black;
        text-decoration: none;
        padding: 1rem;
        text-transform: uppercase;

        &:hover {
            color: #FED03D;
        }

        &.active {
            color: #FED03D;
        }
    }
}