.home_work {
    margin-top: 7rem;
    background-image: url(/src/assets/img/home-244125289.jpg);
    background-position: center;
    background-size: cover;
    height: 900px;

    .icon {
        color: #FED03D;
        font-size: 4rem;
    }

    .home_work_yellow {

        p {
            color: #FED03D;
            font-size: 3.5rem;
        }
    }
}