.latest_up {
    padding: 1.5rem;
    background-color: #FED03D;
    height: 250px;
    width: 416px;
}

.latest_top {
    border-top: 1px solid white;
}

.latest_bottom {
    border-bottom: 1px solid white;
}

.latest_news_description {
    padding: 1.5rem;

}

.card_latest {
    background-color: white;
    height: 600px;
    line-height: 2rem;
    position: relative;

    img {
        width: 416px;
        position: absolute;
        top: 0;

        &:hover {
            display: none;
        }
    }
}

.latest_news {
    padding: 3rem;
    background-color: #F5F5F5;
    margin-top: 0.5rem;
}

.title_news {
    padding-bottom: 1rem;
    border-bottom: 2px solid #FED03D;
    display: inline
}

.font_news {
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}